body {
    margin: 0;
    padding: 0;
    background-color: rgb(64, 64, 194);
    background-image: url(images/gradient-background-26046-26731-hd-wallpapers.jpg-1024x640.png);
    background-size: cover;
}

canvas {
    display: grid;
    grid-row: 600px;
    margin-top: 100px;
    margin-left: 300px;
    border: solid 1px;
    width: 300px;
    background-color: rgb(212, 220, 221);
}
.title {
    font-family: 'Bitter', serif;
    font-size: 100px;
    text-align: center;
    padding: 20px;
    line-height: 1em;
    color: whitesmoke;
    text-shadow: 0 1px 0 #efefefd3, 0 2px 0 gray,
    0 3px 0 gray, 0 4px 0 gray, 0 30px 5px rgba(0,0,0,.1);
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0% {
        transform: rotate(5deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(5deg);
    }
}
.start {
    font-family: 'Bitter', serif;
    font-size: 40px;
    text-align: center;
    margin-top: 120px;
}

.keyboard{ 
    position: relative;
    margin-left: 330px;
    margin-bottom: 100px;
    width: 800px;
    border: solid;
    background-color: rgba(0, 0, 139, 0.87);
    padding: 50px;
    /*background-color: rgb(70, 70, 168); */
}
.guesses {
    font-size: 30px;
    color: whitesmoke;
}
#guesses-left {
    font-size: 30px;
    color: whitesmoke;
    margin-left: 90px;
}
.key {
    font-family: 'Wellfleet', cursive;
    color: whitesmoke;
    display: inline-block;
    border-color: rgb(70, 70, 168);
    border-radius: 50px;
    height: 65px;
    width: 65px;
    text-align: center;
    font-size: 30px;
    background-color: rgba(70, 70, 168, 0.767);
}

.row1 {
    display: space-around;

}

.row2 {
    display: space-around;
    margin-left: 30px;

}

.row3 {
    display: space-around;
    margin-left: 90px;
}
.word-container {
    font-size: 80px;
    margin-left: 340px;
}
#spaces {
    font-size: 80px;
    color: whitesmoke;
    margin-left: 450px;
    
}

#reset {
    margin-left: 1295px;
}